.container pre{
  display: inline-block;
  width: auto;
  border-radius: 5px;
  vertical-align: middle;
}

.container p {
  /* display: inline-block; */
  vertical-align: middle;
}

.container pre, .container p pre, .container pre pre, .container pre pre code{
  background-color: #1e1e1e;
}

