.container pre{
  display: inline-block;
  width: auto;
  border-radius: 5px;
  vertical-align: middle;
}

.codeContainer[data-copied=false] pre::after {
  content: 'Copy';
  position: absolute;
  top: 6px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

}

.codeContainer[data-copied=false] pre:hover::after {
  content: 'Copy';
  position: absolute;
  top: 6px;
  right: 5px; 
  opacity: 0.7;
}
.codeContainer[data-copied="true"] pre::after {
  content: 'Copied';
  position: absolute;
  top: 6px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

}

.codeContainer[data-copied="true"] pre:hover::after {
  content: 'Copied';
  position: absolute;
  top: 6px;
  right: 5px; 
  opacity: 0.7;
}


.container p {
  /* display: inline-block; */
  vertical-align: middle;
}

.codeContainer {
  display: inline-block;
  position: relative;
}

.codeContainer label {

  min-width: 90px;
  bottom: 100%;
  left: 50%;
  translate: -50%;
  background-color: var(--highlight-color);
  color: #000;
  text-align: center;
  padding: 5px 15px;
  border-radius: 6px;
  opacity: 1;
  font-weight: 600;
  text-transform: uppercase;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  transition: all 0.2s ease-in-out;

/*   
  position: absolute;
  top: -20px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px; */
  font-family: 'Poppins', sans-serif;
}

.codeContainer label:empty {
  opacity: 0;
  visibility: hidden;
}

.container h1::before, .container h2::before, .container h3::before, .container h4::before, .container h5::before, .container h6::before {
  content: '> ';  
  font-size: 1em;
}

.container p, .container ul, .container ol {
  max-width: 900px;
}
